@import url(//fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

ul.three-col {
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
  height: 90vh;
  list-style: none;
}

ul li.three-col {
  flex: 1 0 25%;
  min-width: 10em;
  max-width: 18em;
  max-height: 2.1em;
  overflow: clip;
  text-overflow: ellipsis;
  display: inline-block;
}

article {
    font-size: 2.2em;
    line-height: 2em;
    font-family: 'Yanone Kaffeesatz', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    min-width: 100%;
    min-height: 100%;
}

article.slide-listing {
    text-decoration: none;
}

article.slide-listing a, a:visited, a:hover  {
    text-decoration: none;
}