@import url(//fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
/* @import url(//fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic); */
@import url(//fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

ul.three-col {
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
  height: 90vh;
  list-style: none;
}

ul li.three-col {
  flex: 1 0 25%;
  min-width: 10em;
  max-width: 18em;
  max-height: 2.1em;
  overflow: clip;
  text-overflow: ellipsis;
  display: inline-block;
}

article {
    font-family: 'Yanone Kaffeesatz', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    min-width: 100%;
    min-height: 100%;
}

article.slide-listing {
    font-size: 3.2em;
    line-height: 2em;
    color: aliceblue;
    text-decoration: none;
    font-size: 32pt;
}

article.slide-listing a, a:visited, a:hover  {
    color: aliceblue;
    text-decoration: none;
}

body {
    background-color: black;
}

code {
    font-family: 'Yanone Kaffeesatz', 'Courier New', monospace;
}

.pull-left {
  float: left;
  width: 47%;
}

.pull-right {
  float: right;
  width: 47%;
}

.pull-right~p {
  clear: both;
}

.inverse {
  background: #272822;
  color: #777872;
  text-shadow: 0 0 20px #333;
}

.inverse h1,
.inverse h2 {
  color: #f3f3f3;
  line-height: 0.8em;
}

.left-column-grey {
  color: #777;
  min-width: 20%;
  max-width: 49%;
  height: 92%;
  float: left;
  margin-bottom: -.75em;
  margin-top: 0;
}

.left-column {
  min-width: 20%;
  max-width: 49%;
  height: 92%;
  float: left;
  margin-bottom: -.75em;
  margin-top: 0;
}

.left-column h2:last-of-type,
.left-column h3:last-child {
  color: #000;
}

.right-column {
  min-width: 20%;
  max-width: 49%;
  height: 92%;
  float: right;
  padding-top: .2em;
}

blockquote {
  border-left: 0.25em solid rgba(0, 0, 0, 0.33);
  padding: 0 8px;
  margin: 0 .67em;
}

.tiny{
  font-size: 0.4em;
}

.footnotesize{
  font-size: 0.55em;
}

.small{
  font-size: 0.7em;
}

.small-40{
  font-size: 0.40em;
}

.small-45{
  font-size: 0.45em;
}

.small-50{
  font-size: 0.50em;
}

.small-55{
  font-size: 0.55em;
}

.small-60{
  font-size: 0.60em;
}

.small-65{
  font-size: 0.65em;
}

.small-70{
  font-size: 0.70em;
}

.small-75{
  font-size: 0.75em;
}

.small-80{
  font-size: 0.80em;
}

.small-85{
  font-size: 0.85em;
}

.small-90{
  font-size: 0.90em;
}

.small-95{
  font-size: 0.95em;
}

.tight{
  font-size: 0.8em;
}

.tight > p {
  margin-top: .25em;
  margin-bottom: .45em;
  line-height: 1.1em;
}

.tight > li {
  margin-top: .25em;
  margin-bottom: .45em;
  line-height: 1.1em;
}

.red {
  color: #cc092f;
}
.green {
  color: green;
}
.blue {
  color: blue;
}
.orange {
  color: orange;
}
.highlight {
  background-color: yellow;
}
.highlight-red {
  background-color: rgba(204, 9, 47, 0.20);
}
.highlight-green {
  background-color: rgba(106, 221, 21, 0.5);
}
.highlight-blue {
  background-color: rgba(173, 216, 230, 0.5);
}
.highlight-orange {
  background-color: rgba(255, 165, 0, 0.33);
}
.highlight-grey {
  background-color: rgba(0, 0, 0, 0.06);
}

.example-bad {
  background-color: rgba(204, 9, 47, 0.15);
}
.example-good {
  background-color: rgba(106, 221, 21, 0.30);
}
.example {
  background-color: rgba(173, 216, 230, 0.30);
}
.brightquote {
  background-color: rgba(255, 165, 0, 0.25);
}

.term {
  color:darkblue;
  font-style: italic;
}

.tt {
  font-family: 'Yanone Kaffeesatz', 'Courier New', monospace;
  font-size: 1.2em;
}

.footnote {
  position: absolute;
  bottom: 0.3em;
  font-size: x-small;
  margin-right: 12%;
}
.ref{
  font-variant-position: super;
  font-size: .92em;
}
.ref::before { content: "[" }
.ref::after  { content: "]" }

div.transparent pre code, div.transparent pre, div.transparent code, div.transparent, .transparent{
  background-color: rgba(0,0,0,0.02) !important;
  text-shadow: -.08em .08em 2px #fff, .08em .08em 2px #fff, .08em -.08em 2px #fff, -.08em -.08em 2px #fff,
               -.033em .033em 0 #fff, .033em .033em 0 #fff, .033em -.033em 0 #fff, -.033em -.033em 0 #fff;
}

float-right{
  float: right;
}

mjx-container[display="true"] {
  display: block;
  text-align: center;
  margin: 0.40em 0 !important;
}

/* 
a blockquote inside an algorithm-class element is specialized to look
"code like", while maintaining the ability to use italics, bold, etc. 
*/
.algorithm blockquote {
  font-family: 'Yanone Kaffeesatz', 'Courier New', 'Ubuntu Mono', monospace;
  border-left: 0.10em solid blue;
  border-radius: 0.08em;
  margin: 0;
  margin-top: 1em;
  padding-top: 0em;
  padding-bottom: 0em;
  padding-left: 0.2em;
  /* Make it behave like a `pre` element w.r.t. newlines */
  white-space: pre;
}
.algorithm blockquote > p {
  line-height: normal;
  margin-top: 0em;
  margin-bottom: 0em;
  padding-bottom: .10em;
  padding-top: .10em;
}
.algorithm blockquote > p:first-child  {
  margin-top: -1em;
}
.algorithm blockquote > p:last-child  {
  margin-bottom: -1em;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 48%;
  -ms-transform: translateY(-52%);
  transform: translateY(-52%);
}

.middle {
    display: block;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 48%;
    -ms-transform: translateY(-52%);
    transform: translateY(-52%);
}

img {
  max-width: 100%;
  max-height: 100%;
}

/* print filling whole paper
   found at https://bl.ocks.org/bellbind/cbe25c08651ce56637dfb08346a8cfee
*/
@media print {
  .remark-slide-scaler {
    left: 5vw !important;
    width: 90vw !important;
    top: 5vh !important;
    height: 90vh !important;
    transform: scale(1) !important;
  }
}
