<script src="https://gnab.github.io/remark/downloads/remark-latest.min.js"></script>
<script src='https://cdn.bootcss.com/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML' type="text/javascript"></script>
<script>
	var slideshow = remark.create();

	// Setup MathJax
	MathJax.Hub.Config({
		tex2jax: {
			inlineMath: [['$', '$'], ['\\(', '\\)']],
			skipTags: ['script', 'noscript', 'style', 'textarea', 'pre']
		}
	});
	MathJax.Hub.Queue(function () {
		$(MathJax.Hub.getAllJax()).map(function (index, elem) {
			return (elem.SourceElement());
		}).parent().addClass('has-jax');
	});

	MathJax.Hub.Configured();
</script>
