<script src="{{ .Site.BaseURL}}/js/remark-latest.min.js"></script>
<script src="{{ .Site.BaseURL}}/js/remark-macros.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg-full.js"></script>
<script>
	var slideshow = remark.create({
		highlightStyle: "github",
		highlightLines: true,
  		highlightSpans: true
	});

	// Setup MathJax
	window.MathJax = {
		tex: {
			inlineMath: [['$', '$'], ['\\(', '\\)']],
			displayMath: [             // start/end delimiter pairs for display math
      			['$$', '$$'],
      			['\\[', '\\]']
    		],
		}
	};
</script>