<head>
	<title>{{ .Site.Params.inc.title }}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="icon" type="image/vnd.microsoft.icon" sizes="32x32" href="{{ .Site.BaseURL}}/favicon.ico">
	<link rel="stylesheet" href="{{ .Site.BaseURL}}/css/remark.css" />
	<link rel="stylesheet" href="{{ .Site.BaseURL}}/css/slides-additional.css" />
	<link rel="stylesheet" href="{{ .Site.BaseURL}}/css/this-course-custom.css" />
	<!-- link other custom CSS files here -->
	<base target="_blank" />
</head>
